@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.custom-paragraph {
  margin: 10px 0px;
}

.custom-code {
  font-family: "Ubuntu Mono", monospace;
  background-color: rgb(199, 227, 245);
  padding: 1px;
  font-weight: 700;
}

.custom-orderlist {
  margin-left: 20px;
}

.custom-unorderlist {
  margin-left: 20px;
  margin-top: 10px;
}

.custom-pre {
  font-family: "Ubuntu Mono", monospace;
  background-color: rgb(199, 227, 245);
  padding: 10px;
  border-radius: 4px;
}

.custom-heading3 {
  margin: 10px 0px;
}

.custom-heading2 {
  margin: 10px 0px;
}

.katex {
  margin: 10px 0;
}
