.teacher-persona-manager {
  border: 1px solid rgba(112, 128, 144, 0.3);
  border-radius: 8px;
  min-width: 40vw;
  padding: 30px;
}

.teacher-persona-manager .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.teacher-persona-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.teacher-card {
  width: 100%; /* Ensure cards take full width of grid */
  max-width: 300px; /* Optional: limit max width of cards */
  min-height: 350px; /* Set a fixed height */
  border: 1px solid rgba(112, 128, 144, 0.3);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */
}

.teacher-card .button-section {
  display: flex;
  gap: 10px;
  margin-top: 10px; /* Add some space between description and buttons */
}
.teacher-card .name {
  font-weight: bold;
  font-size: 20px;
}

.teacher-card .subject {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 16px;
}

.teacher-card label {
  font-weight: bold;
  font-size: 12px;
  opacity: 0.8;
  margin-bottom: 4px;
}

.teacher-card .tagline {
  font-size: 14px;
  margin-bottom: 16px;
}

.teacher-card .description {
  font-size: 14px;
  flex-grow: 1;
  overflow: clip;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.teacher-card button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.teacher-card button:hover {
  opacity: 0.8;
}
