/* Navigation bar */
.msbc-logo {
  height: 50px;
  margin-right: 20px;
}

#teacher-page {
  padding-top: 7vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--accent-primary);
}

/* Section layout */
.teacher-admin-container {
  display: grid;
  grid-template-columns: 20vw 1fr;
  flex: 1;
  color: var(--text);
}

/* Left pane */
#left-pane {
  padding-left: 36px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 16px;
  position: fixed;
  background-color: var(--accent-secondary);
  left: 0;
}

#left-pane h1 {
  margin-top: 2rem;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

#left-pane p {
  cursor: pointer;
  transition: opacity 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Right pane */
#right-pane {
  margin-top: 10vh;
  padding: 0 200px;
  margin-left: 20vw;
  padding-bottom: 5vh;
}

.option-container {
  background-color: var(--accent-primary);
  border-radius: 8px;
  min-width: 50vw;
  padding: 30px;
  color: var(--accent-secondary);
}

.option-container .title {
  font-size: 2.5rem;
  font-weight: 700;
}

.option-container p {
  margin-top: 4px;
  font-size: 1rem;
  opacity: 0.8;
}

/* Input fields */
#input-fields {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#input-fields input {
  border: 1px solid var(--accent-secondary);
  border-radius: 0.4rem;
  padding: 8px 12px;
  font-size: 1rem;
}

#input-fields textarea {
  border: 1px solid var(--accent-secondary);
  border-radius: 0.4rem;
  padding: 8px 12px;
  font-size: 1rem;
}

#input-fields input:focus {
  border: 1px solid red;
}

.button-section {
  margin-top: 2rem;
}

.button-section button {
  border: none;
  border-radius: 4px;
  padding: 0.8rem;
  background-color: var(--secondary);
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
}

.button-section button.delete-btn {
  background-color: var(--danger);
}

.button-section button:hover {
  opacity: 0.97;
  transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.option-container label {
  font-size: 14px;
}

.option-container textarea {
  border: 1px solid rgba(112, 128, 144, 0.3);
  border-radius: 4px;
  height: 10vh;
  padding: 8px 12px;
  font-size: 14px;
  margin-bottom: 8px;
}

#msbc-logo {
  width: 10rem;
}

#teacher-navbar {
  display: flex;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--secondary);
  position: fixed;
  width: 100vw;
  top: 0;
  color: var(--text);
}

#teacher-navbar .nav-contents p {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 10px;
  border-radius: 2rem;
}

#teacher-navbar .nav-contents p:hover {
  background-color: var(--text);
  cursor: pointer;
  color: var(--secondary);
  gap: 1rem;
}

.teacher-persona-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.teacher-card {
  width: 100%; /* Ensure cards take full width of grid */
  max-width: 25vw; /* Optional: limit max width of cards */
  height: 40vh; /* Set a fixed height */
  border: 1px solid var(--secondary);
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  color: var(--secondary);
  justify-content: space-between; /* Ensure button section stays at the bottom */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */
}

.teacher-card .button-section {
  display: flex;
  gap: 0.9rem;
  margin-top: 1rem; /* Add some space between description and buttons */
}
.teacher-card .name {
  font-weight: bold;
  font-size: 1.9rem;
}

.teacher-card .subject {
  font-size: 1rem;
  margin-bottom: 16px;
}

.teacher-card label {
  font-weight: 600;
  font-size: 0.8rem;
}

.teacher-card .tagline {
  font-size: 0.8rem;
  margin-bottom: 16px;
}

.teacher-card .description {
  font-size: 0.8rem;
  flex-grow: 1;
  overflow: clip;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.teacher-card button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.teacher-card button:hover {
  opacity: 0.8;
}

.table {
  margin-top: 2rem;
}

.table .icon {
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--secondary);
}

.table .icon:nth-child(2) {
  margin-left: 0.7rem;
  color: var(--danger);
}

.button-section button {
  border-radius: 100px;
  padding: 16px 24px;
}
